<app-nav-bar></app-nav-bar>

<div class="container m-4">
     <!-- rouing vero sarà gestito da Angular
    <app-view-appbase02routing></app-view-appbase02routing>
    <br>
     -->
    <app-view-appbase01></app-view-appbase01>
    <br>
    <br>
    <br>
    <br>
   
    <!-- 
         <app-view-lezione-c1s22></app-view-lezione-c1s22>
    <br>
    <app-view-lezione-c1s19></app-view-lezione-c1s19>
    <br>
    <app-view-lezione-c1s18></app-view-lezione-c1s18>
    <br>
    <app-view-lezione-c1s17></app-view-lezione-c1s17>
    <br>
    <app-view-lezione-c1s14></app-view-lezione-c1s14>
    <br>
    <app-view-lezione-c1s13a></app-view-lezione-c1s13a>
    <br>
    <app-view-lezione-c1s13></app-view-lezione-c1s13>
    <br>
    <app-view-lezione-c1s12></app-view-lezione-c1s12>
    <br>
    <app-view-lezione-c1s11></app-view-lezione-c1s11>
    <br>
    <app-view-with-r></app-view-with-r>
    <br>
    <app-view-lezione-c1s13></app-view-lezione-c1s13>
    -->
</div>

