<div class="container">
    <section>
        <div class="example-label">Basic</div>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <div class="example-button-row">
          <button mat-button>Basic<mat-icon  fontIcon="home"></mat-icon>
          </button>
          <button  class="btn btn-success">Success Bootstrap</button>
          <button mat-button color="primary">Primary <mat-icon  fontIcon="home"></mat-icon> </button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://www.google.com/" target="_blank">Google</a>
          <a mat-button href="https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/" target="_blank">icons</a>
         
        </div>
      </section>
      <mat-divider></mat-divider>
</div>

<router-outlet></router-outlet>
